body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	margin: 150px 0;
}

.cell {
	box-sizing: border-box;
	border: 1px solid black;
}

.colored {
	background-color: black;
}
